.footer{
    padding: 40px;
    margin-top: 40px;  
}

.footer h2{
    color: var(--dark-orange);
    font-size: 60px;
    text-align: center;
}

.footer ul{
    list-style: none;
}

.footer h6{
    color: var(--dark-red);
}

.footer ul li{
    color: white;
}

i{
    color: white;
}