 .box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.button-menu{
    width: 120px;
    height: 40px;
    border: solid 2px var(--dark-red);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 20px;
}

.food {
    height: 100%;
    margin-top: 3rem;
    border: 5px solid var(--dark-red);
    border-radius: 30px;
    display: flex;
    align-items: start;
}

.pic {
    width: 200px;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    aspect-ratio: 2/1 !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-info {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.food-inf {
    height: 100px;
}

.food-inf h5{
    color: var(--dark-red);
}

